body {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.logo-container img {
  height: 50px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items li {
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: white;
}

/* Search */
.search {
  padding: 10px;
}

/* Restaurant Filter Button */
.res-btn {
  margin: 10px;
  padding: 10px;
}


.res-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

/* Restaurant Card */
.res-card {
  width: 200px;
  padding: 5px;
  border: 1px solid black;
}

.res-card:hover {
  cursor: pointer;
}

.res-card > img {
  width: 100%;
}

.res-card .cuisines {
  overflow-wrap: break-word;
}

.log-btn {
  padding: 0 10px;
  cursor: pointer;
}